.App {
  color: var(--text-color);
}

.App .container {
  margin: 0 auto;
  padding: 60px 0;
}

.App footer {
  color: var(--off-white);
  margin-top: 50px;
  text-align: center;
}

.App footer a {
  color: var(--off-white);
  text-decoration: none;
}

.App footer a:hover {
  color: #587758;
}
