.Dictionary section {
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 15px;
  padding: 40px;
}

.Dictionary h1 {
  color: var(--off-white);
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

.Dictionary h2 {
  font-family: "Poppins", sans-serif;
}

.Dictionary h4 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.Dictionary .search-button {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--off-white);
  font-size: 18px;
  height: 38px;
  padding: 5px 10px;
  transition: all 150ms ease-in-out;
  width: 150px;
}

.Dictionary .search-button:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

@media (max-width: 992px) {
  .Dictionary h4 {
    font-size: 18px;
  }

  .Dictionary .search-button {
    font-size: 16px;
    width: 120px;
  }
}

@media (max-width: 768px) {
  .Dictionary section {
    margin: 10px 10px 0;
    padding: 30px;
  }

  .Dictionary h1 {
    font-size: 60px;
  }

  .Dictionary h2 {
    font-size: 30px;
  }

  .Dictionary h4 {
    font-size: 16px;
  }

  .Dictionary .search-button {
    width: 100px;
  }
}
