.Dictionary {
  font-family: "PT Serif", serif;
}

.Dictionary h1 {
  color: var(--off-white);
  font-size: 70px;
  font-weight: bold;
  text-align: center;
}

.Dictionary h2 {
  font-family: "Poppins", sans-serif;
}

.Dictionary section {
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 15px;
  padding: 40px;
}

.Dictionary .search-button {
  background-color: var(--primary-color);
  color: var(--off-white);
  font-size: 18px;
  padding: 5px 10px;
  transition: all 150ms ease-in-out;
  width: 120px;
}

.Dictionary .search-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.Dictionary h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
